vendor
node_modules
.env
.env.*
!.env.example
.git
.idea
.vscode
public/build
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/public/*
.phpunit.cache
tests
database/*.sqlite
*.zip
