/vendor/
/node_modules/
/public/build/
/public/hot
/public/storage
/.phpunit.cache
/.env
/.env.*
!/.env.example
/database/*.sqlite
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/app/public/*
!/storage/app/public/.gitignore
/storage/logs/*
!/storage/logs/.gitkeep
/backups/
